.card {
    width: 180px;
    height: 170px;
    max-width: 100%;
    flex-grow: 1;
    margin: 5px;
    box-shadow: 1px 1px 6px $color-mono-300;

    &-photo {
        max-width: 90%;
        max-height: 100px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }
    
    &-content {
        width: 100%;
        height: 170px;
        display: flex;  
        align-items: center;
        justify-content: center;
        background: $color-mono-100;

        &:hover .card-photo {
            transform: scale(1.07);
        }
    }
}
